.u-section-1 .u-sheet-1 {
  min-height: 274px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2422px;
}

.u-section-2 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 2282px;
  grid-gap: 22px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -439px 0 53px auto;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 17px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -439px 0 53px auto;
}

.u-section-2 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 17px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -439px 0 53px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 17px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-repeater-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 521px;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  height: 492px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 519px;
  min-height: 387px;
  height: auto;
  margin: -439px 0 53px auto;
}

.u-section-2 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 17px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 50px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-blog-1 {
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 367px;
    height: 494px;
  }

  .u-section-2 .u-group-1 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    width: 367px;
    height: 494px;
  }

  .u-section-2 .u-group-2 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    width: 367px;
    height: 494px;
  }

  .u-section-2 .u-group-3 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    width: 367px;
    height: 494px;
  }

  .u-section-2 .u-group-4 {
    width: 455px;
    min-height: 422px;
    margin-top: -458px;
    margin-bottom: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 407px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}